.Test {
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;

    &-Section {
        padding: 30px 15px;
    }

    &-Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 15px;
    }

    &-AddItemForm {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    &-AddedItem {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 18px;

        &:last-child {
            margin-bottom: 0;
        }

        &>.ActionsMenu {
            cursor: pointer;
            opacity: 0;
            margin-left: 12px;
            transform: translateY(2px);
            transition: all .15s ease-in-out;

            &--Active {
                opacity: 1;
                transition: all .15s ease-in-out;
            }
        }

    }

}

div.Test-TextField {
    width: 300px;
    margin: 15px 0;
}

div.Test-AddItemTextField {
    width: 270px;
    margin-right: 20px;
}

button.Test-SymbolBtn {
    margin: 15px 20px 0 0;
    text-transform: lowercase;

    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 425px) {
    .Test {

        &-Section {
            padding: 25px 15px;
        }

        &-Form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 15px;
        }

        &-AddItemForm {
            flex-direction: column;
        }

    }

    div.Test-TextField {
        width: 200px;
    }

    div.Test-AddItemTextField {
        width: 200px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    button.Test-SymbolBtn {
        margin: 15px 10px 0 0;
    }
}