.Table {
    min-width: none;
    max-width: 320px !important;
    margin: 0 auto;
    margin-bottom: 30px;

    &>tr {
        transition: all 1s ease-in;
    }

    &>thead>tr>th {
        font-weight: bold;
        font-size: 18px;
    }

    &>thead>tr>th,
    &>tbody>tr>td {
        padding: 5px;
        text-align: center;
    }
}

.HightlightRow,
.HightlightCell {
    background-color: #eee;
    transition: all 1s ease-in;
}

button.NextStepBtn {
    margin-bottom: 200px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

@media screen and (max-width: 425px) {
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .Table {
        max-width: 300px !important;

        &>thead>tr>th {
            font-size: 16px;
        }

        &>thead>tr>th,
        &>tbody>tr>td {
            padding: 2px;
        }
    }

}