.Calc {
    text-align: center;

    &-Task {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-Section {
        padding: 30px 15px;

        &>hr {
            width: 75%;
            margin: 30px auto 0 auto;
        }
    }

    &-Table {
        min-width: none;
        max-width: 320px !important;
        margin: 0 auto;
        margin-bottom: 30px;

        &>tr {
            transition: all 1s ease-in;
        }

        &>thead>tr>th {
            font-weight: bold;
            font-size: 18px;
        }

        &>thead>tr>th,
        &>tbody>tr>td {
            padding: 5px;
            text-align: center;
        }
    }

    &-HightlightRow,
    &-HightlightCell {
        background-color: #eee;
        transition: all 1s ease-in;
    }
}

button.Calc-NextStepBtn {
    margin-bottom: 200px;
}

div.Calc-TextField {
    width: 300px;
    margin-bottom: 20px;
}