.Calc {
    text-align: center;

    &-Task {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-Section {
        padding: 30px 15px;

        &>hr {
            width: 75%;
            margin: 30px auto 0 auto;
        }
    }
}

div.Calc-TextField {
    width: 300px;
    margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
    div.Calc-TextField {
        width: 200px;
    }

    .Calc {
        &-Section {
            padding: 20px 15px;

            &--Scrollable {
                overflow-x: scroll;
            }

            &>hr {
                width: 100%;
            }
        }
    }
}